@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Spirax&display=swap");

* {
	color: whitesmoke;
	font-family: "Poiret One", sans-serif;
}

body {
	margin: 0;
}

section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

/*########## Header ########## */
.header {
	align-items: center;
	background-color: rgb(17, 1, 9, 0.8);
	display: flex;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header .navbar {
	align-items: center;
	display: flex;
	flex: 2;
	justify-content: space-evenly;
}

.header .empty-space {
	flex: 1;
}

/*########## Navigation Links ########## */
nav a {
	color: white;
	font-family: "Spirax", sans-serif;
	font-size: xxx-large;
	text-decoration: none;
}

nav a:hover {
	color: lightgray;
}

/*########## Container ########## */
.container {
	display: flex;
	justify-content: center;
	padding-top: 91px;

}

.hot,
.juicy {
	border-bottom: 1rem solid #8d0001;
}

.container .main-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container .main-content .title h1 {
	color: #8d0001;
	font-family: Spirax;
	font-size: 8rem;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 1rem;
}

.container .main-content .quote1 {
	background-color: rgb(141, 0, 1, 0.8);
	padding: 0rem 2rem;
	position: relative;
	left: -3rem;
}

.container .main-content .quote1 .quote-text {
	font-size: x-large;
	font-weight: normal;
	text-align: center;
}

.container .main-content .quote2 {
	background-color: rgb(141, 0, 1, 0.8);
	padding: 0rem 2rem;
	position: relative;
	left: 3rem;
}

.container .main-content .quote2 .quote-text {
	font-size: x-large;
	font-weight: normal;
	text-align: center;
}

.container .main-content .price-contact {
	background-color: rgb(0, 0, 0, 0.8);
	display: flex;
	justify-content: space-between
}

.container .main-content .price-contact .menu-items {
	font-size: x-large;
	font-weight: normal;
	text-align: left;
	padding-left: 4rem;
}

.container .main-content .price-contact .menu-prices {
	font-size: x-large;
	font-weight: normal;
	text-align: right;
	padding-right: 4rem;
}