@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Spirax&display=swap");

* {
	color: whitesmoke;
	font-family: "Poiret One", sans-serif;
}

body {
	margin: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

/*########## Header ########## */
.header {
	align-items: center;
	background-color: rgb(17, 1, 9, 0.8);
	display: flex;
	padding: 1rem;
}

.header .navbar {
	align-items: center;
	display: flex;
	flex: 2;
	justify-content: space-evenly;
}

.header .empty-space {
	flex: 1;
}

/*########## Navigation Links ########## */
nav a {
	color: white;
	font-family: "Spirax", sans-serif;
	font-size: xx-large;
	text-decoration: none;
}

nav a:hover {
	color: lightgray;
}

/*########## Container ########## */
.container {
	display: flex;
	justify-content: center;
}

.container .main-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container .main-content .title h1 {
	color: #8d0001;
	font-family: Spirax;
	font-size: xxx-large;
	text-align: center;
}

.container .main-content .quote1 {
	background-color: rgb(141, 0, 1, 0.8);
	padding: 0rem 4rem;
	position: relative;
	left: -3rem;
}

.container .main-content .quote1 h2 {
	font-size: large;
	text-align: center;
}

.container .main-content .quote2 {
	background-color: rgb(141, 0, 1, 0.8);
	padding: 0rem 4rem;
	position: relative;
	left: 3rem;
}

.container .main-content .quote2 h2 {
	font-size: large;
	text-align: center;
}

.container .main-content .price-contact {
	background-color: rgb(0, 0, 0, 0.8);
	display: flex;
	justify-content: space-between
}

.container .main-content .price-contact .menu-items {
	font-size: medium;
	text-align: left;
	padding: 0rem 2rem;
}

.container .main-content .price-contact .menu-prices {
	font-size: medium;
	text-align: right;
	padding: 0rem 2rem;
}